<div class="container">
  <div class="row">
    <h3>I am in the App Component!!</h3>
    <hr>
    <!-- <app-servers></app-servers> -->

    <div class="app-servers"></div>

    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
  </div>
</div>

<!-- <div class="container">
  <ol>
    <li>Add a input field which updates a property ('usernam') via two-way-binding.</li>
  </ol>
  <hr>

  <label for="">Username</label>
  <input type="text" class="form-control" [(ngModel)]="username">
  <p>{{username}}</p>
  <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>
</div> -->